.product {
    padding: 0.75rem;
}

@media only screen and (min-width: 0px) {
    .product {
       width: 100%;
   }
}

@media only screen and (min-width: 426px) {
    .product {
       width: 50%;
   }
}

@media only screen and (min-width: 768px) {
    .product {
       width: 33.3333%;
   }
}

@media only screen and (min-width: 1025px) {
    .product {
       width: 25%;
   }
}

.product-container {
    transition: all 250ms ease-in-out 0s;
    margin: auto;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    border-radius: 8px;
}

.product-image-holder {
    position: relative;
    text-align: center;
}

.product-discount {
    display: inline-flex;
    border-radius: 300px;
    cursor: unset;
    box-shadow: unset;
    transition: all 150ms ease-in-out 0s;
    padding: 5px 10px;
    background-color: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
    font-weight: 600;
    z-index: 1;
}

.product-extra-icons {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    cursor: pointer;
    z-index: 2;
}

.product-container:hover .product-extra-icons {
    display: block;
}

.eye-btn {
    margin-bottom: 0.5rem;
}

.eye-btn svg, .heart-btn svg {
    width: 1.25rem;
    height: 1.25rem;
}

.img-wrapper {
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
}

.img-box {
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0;
    margin: 0;
    padding: 0;
    padding-top: 100%;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    padding: 0;
    border: none;
    margin: auto;
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.product-details {
    padding: 1rem;
}

.details-container {
    display: flex;
    flex-direction: row;
}

.details-content {
    box-shadow: none;
    cursor: unset;
    flex: 1 1 0px;
    min-width: 0px;
    margin-right: 0.5rem;
}

.details-content h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 0px;
    color: rgb(55, 63, 80);
}

.product-container:hover .details-content h3 {
    color: rgb(233, 69, 96);
}

.details-desc {
    /* font-size: 14px; */
    font-weight: 400;
}

.rate-container {
    display: flex;
    margin: 0px -1px;
}

.rate-container svg {
    height: 16px;
    width: 16px;
    color: rgb(255, 205, 78);
}

.price-container {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
}

.price-container .price {
    font-size: 14px;
    font-weight: 600;
    padding-right: 0.5rem;
    color: rgb(233, 69, 96);
}

.price-container .discount {
    font-size: 14px;
    font-weight: 600;
    color: rgb(125, 135, 156);
}

.product-counter {
    display: flex;
    width: 30px;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.product-counter button {
    display: flex;
    width: unset;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background: transparent;
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    color: rgb(233, 69, 96);
    border: 1px solid rgb(255, 225, 230);
    padding: 3px;
    border-radius: 5px;
}

.product-counter button:hover:enabled {
    background-color: rgb(233, 69, 96);
    border-color: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
}

.product-counter button svg {
    width: 20px;
    height: 20px;
}

.product-counter span {
    font-size: 14px;
    font-weight: 600;
    color: rgb(43, 52, 69);
}